/*Font Poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #000000;
    --second-bg-color: #161616;
    --text-color: #fff;
    --main-color: #002783;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    font-family: "Poppins", sans-serif;
    color: var(--text-color);
}

html::-webkit-scrollbar{
    width: 0.8rem;
}

html::-webkit-scrollbar-track{
    background: var(--bg-color);
}

html::-webkit-scrollbar-thumb{
    background: var(--main-color);
}




/*header*/

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 2rem;
    background: rgba(0, 0, 0, 0.7);
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}


.logo {
    font-size: 3rem;
    color: var(--main-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}
.logo:hover{
    transform: scale(1.1);
}

#menu-icon {
    font-size: 3.6rem;
   color: var(--main-color);
   display: none; 
}

/* nav */

.navbar a {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}
.navbar a:hover {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

@media (max-width:720px){

    .header .navbar {
        display: none;
    }

    .one,
.two,
.three {
        width: 80%;
        height: 2px;
        background-color: white;
        margin: 6px auto;
        transition-duration: 0.5s;
    }

    .menu-toggle {
        width: 30px;
        height: 30px;
    }

    .header.on {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header.on .logo{
        display: none;
    }

    .header.on .menu-toggle {
        position: absolute;
        right: 40px;
        top: 20px;
    }

    .header.on .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5rem;
    }

    .header.on .navbar {
        display: flex;
        padding: 2rem;
        justify-content: space-between;
    }

    .header.on .navbar a {
        font-size: 4rem;
    }

    .header.on .menu-toggle .two{
        opacity: 0;
    }

    .header.on .menu-toggle .one {
        transform: rotate(45deg) translate(5px, -8px);
    }

    .header.on .menu-toggle .three {
        transform: rotate(-45deg) translate(20px, -6px);
    }


}

/*section inicio*/

.inicio {
    height: 100vh;
    padding: 5rem  5rem;

}

.inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background: var(--bg-color);
}

.inicio .inicio-content h1 {
    margin-top: 3.5rem;
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span {
    color: var(--main-color);
}

.inicio-content h3 {
    font-size: 4rem;
    margin-bottom: 2rem;
    font-weight: 700;
}

.inicio-content p {
    font-size: 1.8rem;
    font-weight: 500;
}



.inicio-img {
    border-radius: 50%;
}

.inicio-img img {
    position: relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
    transition: 0.3s ease;
}

@media (max-width:500px){
    .inicio {
        height: 100vh;
        padding: 1rem 1rem;
    
    }
    .inicio .inicio-content h1 {
        margin: 0;
    }

    .inicio-img {
        position: absolute;
        right: 60px;
        bottom:30px;

    }

    .inicio-img img{
        width: 100px;
    }
}

.inicio-img img:hover{
    transform: scale(1.01);
    filter: drop-shadow(0 0 25px var(--main-color));
}

.social-icon a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background:transparent;
    border: 0.2rem solid var(--main-color);
    background: transparent;
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    font-size: 2rem;
    border-radius: 50%;
    transition: 0.3s ease;
}

.social-icon a:hover {
    color: white;
    transform: scale(1.3)translateY(-5px);
    background: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    color: var(--main-color);
    background: var(--bg-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    border: 2px solid var(--main-color);
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.03);
    background-color: var(--main-color);
    color: var(--text-color);
    box-shadow: 0 0 w5px var(--main-color);
}

.inicio-content .typing-text {
    font-size: 3.4rem;
    font-weight: 600;
    min-width: 280px;
    
}





.inicio-content .typing-text span {
    height: 100%;
    position: relative;
    font-size: 3.2rem;
    padding-bottom: 1.3rem;
    text-align: center;
}

@media (max-width:960px){
    .inicio-content .typing-text {
        font-size: 3rem;
    }

    .inicio-content .typing-text span {
        font-size: 2rem;
      
    }
}


.typing-text span::before {
    content: 'Software Developer';
    color: var(--main-color);
    animation: words 20s infinite;
}

.typing-text span::after {
    content: '';
    background: var(--bg-color);
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid var(--bg-color);
    right: -8px;
    animation: cursor 1s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
    to {
        border-left: 3px solid var(--main-color);
    }
}

@keyframes words {
    0%, 20% {
        content: 'Desenvolvedor Web';
    }
    
    21%, 40% {
        content: 'Desenvolvedor Mobile';
    }
    41%, 60% {
        content: 'Programador';
    }
    61%, 100% {
        content: 'Instrutor de Informática';
    }

}

@keyframes typing {
    10%, 15%,
    30%, 35%,
    50%, 55%,
    70%, 75%,
    90%, 95% {
        width: 0;
    }

    5%, 20%,
    25%, 40%,
    45%, 60%,
    65%, 80%, 85% {
        width: calc(100% + 3px);
    }
}


/*servicos section*/
.servicos{
    background: var(--second-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.servicos .heading {
    display: flex;
    font-size: 6rem;
    align-items: end;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: 3.5rem;
}

.servicos-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 3rem;
}





.servicos-box {
    background-color: var(--main-color);
    height: 250px;
    border-radius: 3rem;
    cursor: pointer;
    transition: 0.3s ease;
}

@media (max-width: 960px) {
    .servicos-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .servicos-box {
        height: 200px;
    }
}

@media (max-width: 500px) {
    .servicos-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .servicos-box {
        height: 150px;
    }
}

.servicos-box:hover{
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    color: var(--main-color);
    transform: scale(1.03);
}

.servicos-box .servicos-info {
    display: flex;
    flex-direction: column;
    text-align: left;
    max-height: 200px;
    justify-content: center;
    align-items: baseline;
    padding: 2rem;
}

.servicos-info h4 {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.servicos-info p {
    font-size: 1.6rem;
    font-weight: 400;
    max-height: 100px;
    width: auto;
}

@media (max-width: 1200px) {
    html {
        font-size: 50%;
    }
}


/*skills container*/

.skills {
    background: var(--bg-color);
}

.skills .heading {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
}

.skills .container {
    background: #040f27;
    color: var(--text-color);
    border-radius: 1rem;
    padding: 2rem;
    width: 100%;
    margin: auto;
    margin-top: 2rem;
}

.skills .container .row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    flex-wrap: wrap;
    gap: 1.8rem;
}

@media (max-width: 1200px) {
    .skills .container .row{
    grid-template-columns: repeat(2, 1fr);
    }
}

.skills .container .bar {
    width: 100%;
    border: 1px solid var(--main-color);
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 1rem;
    background: var(--second-bg-color); 
    cursor: pointer;
    transition: 0.2s ease-out;
}

.skills .container .bar:hover{
    border: none;
    transform: scale(1.03);
    background: var(--bg-color);
    box-shadow: 0 4px 15px var(--main-color);
}

.skills .container .bar .info img {
    height: 100px;
    width: 100px;
}

.skills .container .bar .info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.skills .container .bar .info span {
    color: var(--text-color);
    font-size: 2rem;
    font-weight: 500;
}

@media screen and (max-width:600px) {
    .skills .container {
        margin: 0;
        padding: 2rem;
    }

    .skills .container .bar {
        width: 100%;
    }

    .skills .container .row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .skills .container {
        margin-top: 5px;
        width: 100%;
    }
    
}

/*section exp*/
.exp {
    background: var(--second-bg-color);
}

.exp .heading {
    top: 0;
   font-size: 6rem;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.exp .heading span {
    font-size: 1.5rem;
    color: wheat
}

.exp .timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.exp .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    z-index: 10;
}

.exp .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.exp .container::after{
    content: '☻';
    position: absolute;
    width: 25px;
    height: 25px;
    line-height: 25px;
    right: -17px;
    background-color: rgb(252, 252, 252);
    border: 4px solid var(--main-color);
    top: 15px;
    border-radius: 50%;
    z-index: 100;
    font-size: 1.8rem;
    text-align: center;
    font-weight: 600;
    color: var(--main-color)

}

.exp .left{
    left: 0;
}

.exp .right{
    left: 50%;
}

.exp .left::before {
    content: '';
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 31px;
    border: medium solid var(--main-color);
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent var(--main-color);
}

.exp .right::before {
    content: '';
    height: 0;
    left: 20px;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    border: medium solid var(--main-color);
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent var(--main-color);
}

.exp .right::after {
    right: 97%;
}

.exp .content {
    background: var(--main-color);
    position: relative;
    border-radius: 6px;
}

.exp .content .tag {
    font-size: 1.5rem;
    padding-top: 1rem;
    padding-left: 1.5rem;
}

.exp .content .decs {
    margin-left: 1.5rem;
    padding-bottom: 1rem;

}

.exp .content .decs div {
    padding: 1rem;
    margin: 1.5rem 3rem;
    border-radius: 15px;
    border: 2px solid #00216e;
    transition: 0.2s ease;
}

.exp .content .decs div:hover{
    background: var(--bg-color);
    box-shadow: 0 4px 15px var(--main-color);

}

.exp .content .decs div a p{
    font-size: 2rem;
    font-weight: 600;
}

.exp .content .decs div a span {
    font-size: 1.2rem;
}

.exp .content .decs p {
    color: var(--text-color);
    font-size: 1.3rem;
    font-weight: 300;
}

.exp .content .decs div span{
    color: var(--text-color);
}

@media (max-width:600px){
    .exp .container {
        width: 100%;
    }

    .exp .timeline::after{
        left: 17px;
    }

    .exp .container::after {
        left: 0;
        right: 0;
    }

    .exp .right{
        left: 0%;
    }

    .exp .left::before {
        right: 0;
        left: 30px;
    }

    .exp .right::before {
        right: 0;
        left: 30px;
    }

}

/*section contato*/

.contato {
    padding: 5rem 2rem;
}

.contato form {
    max-width: 70rem;
    margin: 1rem auto;
    margin-bottom: 3rem;
    text-align: center;
}


.contato .heading {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6rem;
}

.contato .heading span {
    margin: 0 1rem;
}

.contato form .input-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contato form .input-box input,
.contato form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: 0.8rem;
    border: 2px solid var(--main-color);
    margin: 1rem 0;
    resize: none;
}

@media (max-width:560px)  {
    .contato .heading {
        font-size: 4rem;
    }

    .contato form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 1rem;
    }

    .contato form .input-box input{
    width: 60%;
}

.contato form textarea {
    width: 60%;
    height: 60px;
}

.contato form .btn {
    margin-top: 2rem;
}
}

/* footer */

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: var(--main-color);

}

footer .social {
    text-align: center;
    padding-bottom: 25px;
    
}

footer .social a {
    color: black;
    font-size: 25px;
    border: 2px solid black;
    width: 42px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.3s ease;
}

footer .social a:hover{
    transform: scale(1.2)translateY(-5px);
    background: var(--bg-color);
    color: var(--main-color);
}

footer ul {
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.8rem;
    margin-bottom: 0;
    text-align: center;

}


footer ul li a {
    color: black;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}

footer ul li a:hover {
    border-bottom: 3px solid var(--bg-color)
}

footer ul li {
    display: inline-block;
    padding: 0 15px;
}

footer .label {
    margin-top: 50px;
    text-align: center;
    font-size: 16px;
    color: black;
}

@media (max-width:768px)  {
    html {
        font-size: 40%;
    }
    
}

@media (max-width:560px) {
    footer .social a {
        font-size: 12px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
    }

    footer ul {
        font-size: 12px;
        line-height: 1.8rem;
        margin-bottom: 0;
        text-align: center;
    
    }

    footer .label {
        margin-top: 20px;
        text-align: center;
        font-size: 10px;
        color: black;
    }
}

@media (max-width:375px){
    footer ul {
        font-size: 9px;
    }
}